<div class="d-flex justify-content-evenly">
    <div class="text-center p-3" >
         <img src="assets\schemes.jpg" alt="" width="100%" class="pt-5"> 
        <h3 class="p-2" >{{scheme.schemename}}</h3>
        <h6 class="p-2">Type of scheme: {{scheme.type}}</h6>
        
     </div>
     <div class="d-flex flex-column bd-highlight p-5 subdiv">
         <div class="div1 p-3 m-3">
        <div class="p-2 ">{{scheme.details}}</div>
        <div class="p-2 "></div>
      </div>
      <div class="div2 p-3 m-3">
        <div class="p-2 ">{{scheme.eligibility}}</div>
      </div>
    </div>  
</div>