
<h2 class="text-center m-4">Sign up</h2>
<div class="row">
    <div class="col-md-3 col-sm-2"></div>
    <div class="col-md-6 col-sm-8">
        <form #ref="ngForm" (ngSubmit)="hsptlRegister(ref.value)">
            <div class="mb-3">
                <label for="hi" class="form-label">Hospital id</label>
                <input type="text" id="hi" name="hsptlId" class="form-control" ngModel>
            </div>
            <div class="mb-3">
                <label for="hn" class="form-label">Hospital name</label>
                <input type="text" id="hn" name="hsptlName" class="form-control" ngModel>
            </div>
            <div class="mb-3">
                <label for="ha" class="form-label">Hospital address</label>
                <input type="text" id="ha" name="hsptlAddress" class="form-control" ngModel>
            </div>
            <button class="btn mx-auto d-block mb-4" >Register</button>
        </form>
    </div>
    <div class="col-md-3 col-sm-2"></div>
</div>